body {
  background-color: #009DE3;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

blockquote:before{
  content: "„";
}

blockquote:after{
  content: "“";
}

blockquote:before, blockquote:after{
  opacity: 0.3;
  font-weight: 700;
}

.jumbotron{
  background-color: #034064;  
  padding-bottom: 80px;
}

.intro{
  background-color: #009DE3;
}

.intro .glyphicon{
  color: red;
}

.cite{
  text-align: right;
  font-weight: 700;
}
  
.cite:before{
  content: " — ";
}

.cite a{
  font-weight: 200;
  font-style: italic;
  font-size: 0.5em;
  display: block;
}

a {
  color: #FFFFFF;
}

a:hover{
  color: rgb(219,52,43);
}

blockquote{
  font-size: 2.5em;
  font-weight: 300;
  color: #fff;
  border: none;
  padding: 0;
  margin: 0;
}